<div class="container bg-white mb-4">
    <div class="row">
        <div class="col-md-3" style="background: hsla(0,0%,78%,.23);">
            <%= render 'profiles/sidebar' %>
        </div>

        <div class="col-md-9 my-3">
            <h2>My Shelves</h2>
            <h4 class="mt-3"><%= link_to "My Loans", user_loans_path(@user.username) %></h4>
            <div class="row my-4 gap-5">
                <% if @user.borrowed_resources.present? %>
                    <% @user.borrowed_resources.limit(4).each do |resource| %>
                        <%= render 'resources/resource', resource: resource %>
                    <% end %>
                <% else %>
                    <p>No resources on this shelf</p>
                <% end %>
            </div>

            <h4 class="mt-3"><%= link_to "Currently Reading", user_readings_path(@user.username) %></h4>
            <div class="row my-4 gap-5">
                <% if @user.reading_resources.present? %>
                    <% @user.reading_resources.each do |resource| %>
                        <%= render 'resources/resource', resource: resource %>
                    <% end %>
                <% else %>
                    <p>No resources on this shelf</p>
                <% end %>
            </div>

            <h4 class="mt-3"><%= link_to "Want to Read", user_want_to_read_path(@user.username) %></h4>
            <div class="row my-4 gap-5">
                <% if @user.potential_read_resources.present? %>
                    <% @user.potential_read_resources.each do |resource| %>
                        <%= render 'resources/resource', resource: resource %>
                    <% end %>
                <% else %>
                    <p>No resources on this shelf</p>
                <% end %>
            </div>

            <h4 class="mt-3"><%= link_to "Already Read", user_already_read_path(@user.username) %></h4>
            <div class="row my-4 gap-5">
                <% if @user.read_resources.present? %>
                    <% @user.read_resources.each do |resource| %>
                        <%= render 'resources/resource', resource: resource %>
                    <% end %>
                <% else %>
                    <p>No resources on this shelf</p>
                <% end %>
            </div>
        </div>
    </div>
</div>