<div id="read_button">
    <% if user_signed_in? %>

        <% read = current_user.reads.find_by(resource: resource) %>

        <% if read.nil? %>

            <%= form_with model: [Read.new], method: :post do |f| %>
                <%= f.hidden_field :resource_id, value: resource.id %>
                <%#= f.hidden_field :likeable_type, value: likeable.class.to_s %>
                
                <%= f.button class: "btn rounded-1 btn-light border w-100 mt-2" do %>
                    Already Read
                <% end %>
            <% end %>
        <% else %>
            <%= form_with url: read_path(read), method: :delete do |f| %>
                
                <%= f.button class: "btn btn-success border rounded-1 w-100 mt-2" do %>
                    Remove from Already Read
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</div>
