<div id="reading_button">
    <% if user_signed_in? %>

        <% reading = current_user.readings.find_by(resource: resource) %>

        <% if reading.nil? %>

            <%= form_with model: [Reading.new], method: :post do |f| %>
                <%= f.hidden_field :resource_id, value: resource.id %>
                <%#= f.hidden_field :likeable_type, value: likeable.class.to_s %>
                
                <%= f.button class: "btn rounded-1 btn-light border w-100 mt-2" do %>
                    Add to Currently Reading
                <% end %>
            <% end %>
        <% else %>
            <%= form_with url: reading_path(reading), method: :delete do |f| %>
                
                <%= f.button class: "btn btn-success border rounded-1 w-100 mt-2" do %>
                    Remove from Currently Reading
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</div>
