<div id="loan_button">
    <% if user_signed_in? %>

        <% loan = current_user.loans.find_by(resource: resource) %>

        <% if loan.nil? %>
            <% unless resource.copies == resource.loans_count %>
                <!-- Loan options modal -->
                <button type="button" class="btn my-3 w-100 btn-primary border" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Borrow
                </button>
            <% else %>
                Not available, <%= render 'waitlists/waitlists_button', resource: resource %>
            <% end %>
        <% else %>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success rounded-1 w-100 mt-3" data-bs-toggle="modal" data-bs-target="#readModal">
            Start reading
            </button>

            <%= form_with url: loan_path(loan), method: :delete do |f| %>
            
                <%= f.button class: "btn bg-primary-subtle border rounded-1 w-100 my-3" do %>
                    Return <%= loan.resource.resource_type.name %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal modal-dialog-centered">
    <div class="modal-content rounded-0">
      <div class="row text-dark p-3">
        <h5>Loan duration:</h5>
        <%= form_with model: [Loan.new], method: :post do |f| %>
            <%= f.hidden_field :resource_id, value: resource.id %>
            <%= f.select :loan_duration_id, LoanDuration.all.pluck(:days, :id), {  }, class: "form-control rounded-0" %>
            
            <%= f.button class: "btn btn-sm btn-success rounded-1 border mt-3" do %>
                Submit
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if resource.file.attached? %>
    <!-- Read Modal -->
    <div class="modal fade" id="readModal" tabindex="-1" aria-labelledby="readModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">You are reading: <%= resource.name %></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <embed src="<%= polymorphic_url(resource.file) %>" type="application/pdf" width="800" height="500" style="border: none;">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
<% end %>